<!DOCTYPE html>
<html lang="cs">
<head>
	<title>{ifset title}{include title|stripHtml} | {/ifset}mojekvitka</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
	{ifset scripts}{include scripts}{/ifset}
</head>
<body>
	<div class="header" id="menu">
		<header class="header-fixed">
			<div class="header-limiter">
				<img src="{$basePath}/img/logo.png" class="logo">
				<a n:href="Homepage:"><h1>mojekvitka</h1></a>
				<nav>
					<a n:href="Homepage:#articles">Články</a>
                    <a n:href="Homepage:#about">O mně</a>
				</nav>
			</div>
		</header>
		<!-- You need this element to prevent the content of the page from jumping up -->
		<div class="header-fixed-placeholder"></div>
	</div>
	{include content}
    {ifset footer}{include footer}{/ifset}
	<script>

		$(document).ready(function(){

			var showHeaderAt = 50;

			var win = $(window),
					body = $('body');

			// Show the fixed header only on larger screen devices

			if(win.width() > 400){

				// When we scroll more than 150px down, we set the
				// "fixed" class on the body element.

				win.on('scroll', function(){

					if(win.scrollTop() > showHeaderAt) {
						body.addClass('fixed');
					}
					else {
						body.removeClass('fixed');
					}
				});

			}

		});

	</script>
    {if $user->loggedIn}
        <a n:href="Sign:out">Odhlásit</a>
    {else}
        <a n:href="Sign:in">Přihlásit</a>
    {/if}
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
</body>
</html>
