{block title} Úvod {/block}
{block scripts}
    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{$basePath}/js/counter.js"></script>
    <script src="{$basePath}/js/scroll.js"></script>
{/block}
{block content}
    <div class="content">
        <h1 id="welcome">Vítejte na mém zeleném blogu!</h1>
        <div class="container">
            <div class="counter">
                <img src="{$basePath}/img/plant.svg" class="pic">
                <h2 class="timer count-title count-number" data-to="4" data-speed="1500"></h2>
                <p class="count-text ">Generací rýmovníku</p>
            </div>
            <div class="counter">
                <img src="{$basePath}/img/eggs.svg" class="pic">
                <h2 class="timer count-title count-number" data-to="12" data-speed="1500"></h2>
                <p class="count-text ">druhů květin</p>
            </div>
            <div class="counter">
                <img src="{$basePath}/img/ecology.svg" class="pic">
                <h2 class="timer count-title count-number" data-to="3" data-speed="1500"></h2>
                <p class="count-text ">vyměněných květin</p>
            </div>
        </div>
        <h2 id="articles" class="smoothScroll">Články</h2>
        <div n:foreach="$posts as $post" class="post">
            <h2><a n:href="Post:show $post->id">{$post->title}</a></h2>
            {*        <div class="date">{$post->created_at|date:'F j, Y'}</div>*}
            {*        <h2>{$post->title}</h2>*}
            {*        <div>{$post->content}</div>*}
        </div>
        <a n:href="Post:create" n:if="$user->loggedIn">Vytvořit příspěvek</a>
        <h2 id="about">O mně</h2>
        <p>Moje jméno je Barbora Hrušková, je mi 17 let a na instagramu vystupuji jako @mojekvitka. Květiny jsou jedním z mých koníčků,
            mimo jiné se věnuji i tvorbě webových stránek a studuji obor Informační technologie. Tento blog slouží také k procvičení
            vývoje webu.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Augue interdum velit euismod in pellentesque. Aenean vel elit scelerisque mauris pellentesque pulvinar. Pellentesque dignissim enim sit amet venenatis urna cursus eget. Velit dignissim sodales ut eu sem integer vitae justo. Libero id faucibus nisl tincidunt eget nullam non nisi. Mauris sit amet massa vitae tortor. Odio pellentesque diam volutpat commodo sed. Ullamcorper velit sed ullamcorper morbi tincidunt ornare. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. Posuere ac ut consequat semper viverra nam libero justo laoreet. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Orci ac auctor augue mauris augue. Ornare suspendisse sed nisi lacus.

            Vulputate mi sit amet mauris commodo quis imperdiet. Dui vivamus arcu felis bibendum ut tristique et egestas. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Amet aliquam id diam maecenas ultricies mi eget. Suspendisse interdum consectetur libero id. Id diam vel quam elementum pulvinar etiam non quam. Purus faucibus ornare suspendisse sed nisi lacus sed. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. Consectetur purus ut faucibus pulvinar elementum integer. Enim nunc faucibus a pellentesque sit amet porttitor. Nisi est sit amet facilisis magna etiam tempor orci eu. Habitant morbi tristique senectus et netus et. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Quisque id diam vel quam. Nibh tellus molestie nunc non blandit massa enim nec dui. Vitae justo eget magna fermentum. Egestas erat imperdiet sed euismod nisi porta. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius sit. Viverra maecenas accumsan lacus vel facilisis.

            Ultricies integer quis auctor elit. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Tortor pretium viverra suspendisse potenti nullam ac tortor. Dui nunc mattis enim ut tellus elementum sagittis vitae et. Morbi non arcu risus quis varius quam quisque id. Fermentum et sollicitudin ac orci phasellus. Cras adipiscing enim eu turpis egestas. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Eleifend mi in nulla posuere sollicitudin aliquam. Posuere lorem ipsum dolor sit amet. Adipiscing commodo elit at imperdiet dui accumsan. Tincidunt praesent semper feugiat nibh sed pulvinar proin. Risus pretium quam vulputate dignissim.

            Tellus integer feugiat scelerisque varius. Elit pellentesque habitant morbi tristique senectus et. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius. Gravida arcu ac tortor dignissim convallis aenean et. Mi ipsum faucibus vitae aliquet. Ipsum a arcu cursus vitae congue mauris. Quis imperdiet massa tincidunt nunc. Sed viverra tellus in hac habitasse platea dictumst vestibulum rhoncus. Purus ut faucibus pulvinar elementum integer enim. Aliquam ultrices sagittis orci a. Eu consequat ac felis donec. Lorem mollis aliquam ut porttitor leo a. Sit amet cursus sit amet dictum sit amet justo. Nisi scelerisque eu ultrices vitae auctor eu augue.

            Tincidunt augue interdum velit euismod. Feugiat vivamus at augue eget. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. Semper eget duis at tellus at urna condimentum. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Urna molestie at elementum eu facilisis sed odio morbi quis. Dui sapien eget mi proin sed. Quam pellentesque nec nam aliquam sem et tortor consequat. Arcu dui vivamus arcu felis. Tincidunt ornare massa eget egestas purus viverra accumsan in. Ornare lectus sit amet est placerat in egestas. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Consectetur lorem donec massa sapien faucibus et molestie. Massa tincidunt dui ut ornare lectus. Ornare arcu odio ut sem nulla pharetra diam sit amet. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at.
        </p>
        <h2>Kvítka v obrázcích</h2>
    </div>

{/block}
{block footer}
    <footer>
        © Hrušková Barbora, 2019
        <div>
            Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
            from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
    </footer>
{/block}