{block content}
        <div class="content">
                <h1 n:block="title" class="article-title">{$post->title}</h1>
                <p class="article-date">{$post->created_at|date:'F j, Y'}</p>

                <div class="post">{$post->content}</div>
                <h2>Komentovat</h2>

                {control commentForm}

                <h2>Komentáře</h2>

                <div class="comments">
                    {foreach $comments as $comment}
                        <p><b><a href="mailto:{$comment->email}" n:tag-if="$comment->email">{$comment->name}</a></b> napsal:</p>
                        <div>{$comment->content}</div>
                    {/foreach}
                </div>
                <a n:href="edit $post->id" n:if="$user->loggedIn">Upravit příspěvek</a>
        </div>
        <p><a n:href="Homepage:default">← zpět na výpis příspěvků</a></p>
{/block}
{block footer}
        <footer>
                © Hrušková Barbora, 2019
        </footer>
{/block}
