html,body{
    /*background-image: url("../images/background-2.jpg");*/
    background-color: #DCE1E7;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
#welcome{
    text-align: center;
}
/* --- HEADER --- */
.header {
    background-color: white;
    color: black;
}

.header-fixed {
    background-color: white;
    box-shadow: 0 1px 1px #ccc;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}
.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

/*	Placeholder - displayed when the header is fixed to the top of the
 *
 * *	browser window, in order to prevent the content of the page from jumping up. */
.header-fixed-placeholder {
    height: 80px;
    display: none;
}
/* Logo */
.header-fixed .header-limiter h1 {
    float: left;
    line-height: 40px;
    margin: 0;
}
.header-fixed .header-limiter a {
    color: black;
    text-decoration: none;
}
.header-fixed .header-limiter nav {
    line-height: 40px;
    float: right;
}
.header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: black;
    opacity: 0.9;
    font-size: 22px;
}
.header-fixed .header-limiter nav a:hover {
    opacity: 1;
    color: #008eb3;
}
.header-fixed .header-limiter nav a.selected {
    color: #ff6666;
    pointer-events: none;
    opacity: 1;
}
body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
body.fixed .header-fixed-placeholder {
    display: block;
}
body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}
body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 22px;
}

@media all and (max-width: 600px) {
    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }
    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }
    .header-fixed .header-limiter nav {
        line-height: 1;
        float: none;
    }
    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }

    body.fixed .header-fixed {
        display: none;
    }
}
.logo{
    display: none;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
h1{
    font-weight: bold;
    font-size: 35px;
    color: black;
}
.article-title{
    margin: 20px 0 5px 0;
}
.article-date{
    margin: 0 0 20px 0;
}
/* --- CONTENT ---  wraps whole page*/
.content{
    padding: 10px;
    margin: auto;
}
/* RESPONSIVE WEB  only screen means  that the contained styles should only be applied to devices with screens (opposed
 to printed documents, like when you hit Cmd+P in a browser). */
@media only screen and (max-width: 480px) {
    .content{
        width: 330px;
    }
}
@media only screen and (min-width: 768px) {
    .content{
        width: 650px;
    }
}
@media only screen and (min-width: 1200px) {
    .content{
        width: 960px;
    }
    .container{
        width: 780px;
    }
}

/* --- BODY --- */
h2{

}

/* --- COUNTER --- */
.container { display: flex; margin: auto; padding: 5px; }
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px; width: 250px; display: inline-block; margin: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.pic { margin: 0 auto; float: none; display: table; color: #4ad1e5; width: 50px; height: 50px; }

/* --- FOOTER --- */
footer{
    padding: 5px;
    margin-top: -50px;
    text-align: center;
}
/* --- SCROLLBAR --- */
.scrollbar
{
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow
{
    min-height: 450px;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#36D18E),
    to(#36D18E),
    color-stop(.6,#13D173))
}
/***/
div.flash {
    color: black;
    background: #FFF9D7;
    border: 1px solid #E2C822;
    padding: 1em;
    margin: 1em 0;
}

a[href^="#error:"] {
    background: red;
    color: white;
}

form th, form td {
    vertical-align: top;
    font-weight: normal;
}

form th {
    text-align: right;
}

form .required label {
    font-weight: bold;
}

form .error {
    color: #D00;
    font-weight: bold;
}